@(contactForm: Form[views.formdata.ContactFormData], telephoneTypeMap: Map[String, Boolean], dietMap: Map[String, Boolean])

@import views.html.bootstrap3._
@import helper._

@Main("NewContact") {
  <div class="space"></div>
  <div class="shade">
  <div class="container">
  <div class="col-sm-6">
  <div class="embed-responsive embed-responsive-4by3">
    <iframe width="854" height="510" src="https://www.youtube.com/embed/82Q6DRqf9H4?autoplay=1" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>

  <div class="col-sm-6">
    @form(routes.Application.postContact(), 'class -> "form-horizontal") {



    <!--<form class="form-horizontal">-->
      <!-- Hidden ID Field -->
      @hidden(contactForm("id"))

        <!-- Telephone and Telephone Type -->
      @telephone(contactForm("telephone"),
        contactForm("telephoneType"),
        isMultiple = false,
        optionMap = telephoneTypeMap)

      <!-- First Name -->
      @text(contactForm("firstName"),
        label = "Opacity",
        placeholder = "1-100",
        help = "")

      <!-- Last Name -->
      @text(contactForm("lastName"),
        label = "Gain",
        placeholder = "1-100",
        help = "")

        <!-- Last Name -->
      @text(contactForm("lastName"),
        label = "Text",
        placeholder = "Enter Scrolling Text",
        help = "")

      <!-- Checkboxes -->
      @checkboxes(contactForm("dietTypes"),
        label="React",
        checkboxMap = dietMap,
        help = "")

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="submit" type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    <!--</form>-->
    }
  </div>
      </div>
  </div>
}